* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #1f2151;
}

::-webkit-scrollbar-thumb {
    background-color: #2f3279;
}